/*REST BASIC*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*VARIABLES*/
:root {
  --negro: #0d0d0d;
  --rojo: #c1121f;
  --blanco: #ffffff;
  --gris: #cccccc;
}

/*GENERAL*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--negro);
  color: var(--blanco);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 70%;
  display: block;
}

/*CONTENEDOR*/
.container {
  width: 90%;
  margin: auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  text-align: center;
  font-size: 130%;
}

/*HEADER*/
.header {
  background-color: var(--negro);
  border-bottom: 1px solid var(--rojo);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header .container a {
  border-radius: 50%;
  position: relative;
  display: flex;
}

/*HERO*/

.hero {
  position: relative;
  min-height: 50vh;
  height: 80svh;
  max-width: auto, relative;
  background-size: cover;
  background-position: center top;
  transition: opacy 1a ease-in-out;
  display: flex;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.hero-content {
  max-width: 1000px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.hero-content h3 {
  font-size: 2.5rem;
  align-items: center;
  margin-bottom: 0rem;
  color: #d2b48c;
}

.hero-content p {
  color: var(--gris);
  line-height: 1.7;
   font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.hero-content p::after,
.hero-content p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hero-content p::before {
  top: -5px;
  transform-origin: left;
}

.hero-content p:hover::after,
.hero-content p:hover::before {
  transform: scaleX(1);
}
/*CATALOGO*/
.catalogo {
  padding: 1px;
  align-items: 45%;
}
.filtros {
  text-align: center;
  margin-bottom: 30px;
}

.filtros button {
  padding: 30px 80px;
  margin: 10px;
  border: #ffffff;
  background: #1cb698;
  color: aqua;
  cursor: pointer;
  border-radius: 10%;

.filtros button:hover {
  background-color: #06d4eb;
}
h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 3rem;
  color: var(--rojo);
}
p {
  text-align: justify;
  font-size: 150%;
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
/*categoria*/
.categoria {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.categoria.activa {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  opacity: 1;
}

/*CARD*/
.card {
  background-color: #141414;
  border-radius: 25%;
  min-width: 30%;
  flex: 1;
  transition: 0.3s;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.card:hover {
  flex: 2;
  transform: translateY(-5px);
}

.card h3 {
  padding: 1rem;
  width: 40%;
}

.card img {
  transition: 0.3s ;
  display: grid;
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 80px;
}
.card:hover img {
  transform: scale(1.1);
}
/*BOTON contacto*/
.btn {
  display: inline-block;
  background-color: var(--rojo);
  color: var(--blanco);
  padding: 0.8rem 1.5rem;
  border-radius: 310px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #9e0f18;
}

.btn-whatsapp {
  display: block;
  text-align: center;
  background-color: #25d366;
  color: #fff;
  padding: 0.6rem;
  border-radius: 25px;
  margin-top: 0.8rem;
}

.btn-whatsapp:hover {
  background-color: #1ebe5d;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .hero h2 {
    font-size: 1.5rem;
  }
  .nav a {
    margin-left: 1rem;
  }
}
